<div class="sidebar left" id="sideNavLeft">
  <div class="header">
    <div class="closeSideNavBtn">x</div>
    <h1>
      Geeklists/Previews
    </h1>
    <div class="sidebarorder">
      Order by: 
      {{#each orderby}}
      <div class="sideNavBtn" data-glaze-orderby="{{name}}" data-glaze-orderby-asc=1>
        	<i class="{{icon}}"></i>
			</i>
      </div>
      {{#unless @last}}
        |
      {{/unless}}
      {{/each}}
    </div>
  </div>
 
  <div id="sidenavLists">
   
  </div>
</div>
